html {
    text-align: center;
}

#choices {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#choices > button {
    margin-top: 1em;
    height: 2em;
    width: 20em;
}

#result {
    margin-top: 2em;
    font-size: 2em;
}